[Unit]
Description=SmartCity Backend
After=network.target postgresql.service redis.service smartcity-ai.service

[Service]
User=RoadNa
WorkingDirectory=/home/RoadNa/Desktop/ProjectHosting/Merged-Application/merged-smart-city/backend/backend
EnvironmentFile=/home/RoadNa/Desktop/ProjectHosting/Merged-Application/merged-smart-city/backend/backend/.env
Environment=DB_HOST=localhost
Environment=REDIS_HOST=localhost
Environment=AI_SERVICE_URL=http://localhost:8000
ExecStart=/usr/bin/java -Xms256m -Xmx2g -XX:+UseG1GC -jar /home/RoadNa/Desktop/ProjectHosting/Merged-Application/merged-smart-city/backend/backend/target/backend-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
